.user-main {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.edit-button {
  border-color: #00bc77;
  background-color: #00bc77;
  color: #fff;
  font-weight: bold;
  padding: 10px;
}

.edit-form {
  display:flex;
  flex-direction: column;
  gap:1rem
}

.edit-input-container,
.edit-button-container {
  display:flex;
  justify-content: center;
  gap:1rem;
}

.edit-input {
  padding:0.5rem;
}

.edit-button-container > * {
  width:100px;
}

.header {
  color: #fff;
  margin-bottom: 2rem;
}

.transaction-button {
  display: block;
  width: 100%;
  padding: 8px;
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 1rem;
  border-color: #00bc77;
  background-color: #00bc77;
  color: #fff;
}

@media (min-width: 720px) {
  .transaction-button {
    width: 200px;
  }
}